/* Styling the Body element i.e. Color,
		Font, Alignment */
body {
  background-color: #dee698;
  font-family: cursive;
  text-align: center;
}

/* Styling the Form (Color, Padding, Shadow) */
form {
  border: 2px solid red;
  padding: 150px;
  border-radius: 20px 20px 20px;
  background-color: #fff;
  width: 500px;
  margin: 50px auto;
  padding: 20px;
  box-shadow: 10px 10px 25px #ac861e;
}
/* Styling form-control Class */
.form-control {
  text-align: left;
  margin-bottom: 25px;
}

/* Styling form-control Label */
.form-control label {
  display: block;
  margin-bottom: 10px;
}

/* Styling form-control input,
		select, textarea */
/* .form-control input,
		.form-control select,
		.form-control textarea {
			border: 1px solid #777;
			border-radius: 2px;
			font-family: inherit;
			padding: 10px;
			display: block;
			width: 95%;
		} */
.form-control select,
.form-control input,
.form-control textarea {
  border: 2px solid rgb(3, 3, 3);
  padding: 10px;
  border-radius: 10px;
  font-family: inherit;
  display: block;
  width: 90%;
}

/* Styling form-control Radio
		button and Checkbox */
.form-control input[type="radio"],
.form-control input[type="checkbox"] {
  display: inline-block;
  width: auto;
}

/* Styling Button */
button {
  background-color: #05c46b;
  border: 1px solid #777;
  border-radius: 10px 20px;
  font-family: inherit;
  font-size: 21px;
  display: block;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 20px;
}
